asgiref==3.11.0
boto3==1.42.11
botocore==1.42.11
diff-match-patch==20241021
Django==6.0
django-allauth==65.13.1
django-dbbackup==5.0.1
django-decouple==2.1
django-import-export==4.3.14
django-jazzmin==3.0.1
django-leaflet==0.33.0
django-leaflet-admin-list==0.0.9
django-storages==1.14.6
djangorestframework==3.16.1
drf-yasg==1.21.11
inflection==0.5.1
jmespath==1.0.1
packaging==25.0
pillow==12.0.0
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.4
tablib==3.9.0
uritemplate==4.2.0
urllib3==2.6.2
whitenoise==6.11.0
